/*
Theme Name: First Theme Sexy
Theme URI: http://mysite.com
Version: 1.0
Description: My first Theme
*/
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Structure */
body
{
    background: silver;
    font: 16px arial, sans-serif;
}
    #container
    {
        background: #fff;
        border-radius: 14px;
    }
    
    #container, header, nav, footer
    {
        width: 800px;
        padding: 20px;
        margin: 0 auto;
        overflow: auto;
    }
    
    footer
    {
        width: 800px;
        padding: 20px;
        margin: 0 auto;
        background: #000;
        color: #fff;
    }
    
    #left
    {
        float: left;
        width: 590px;
        border: 1px solid green;
    }
    
    #sidebar
    {
        border: 1px solid red;
        float: right;
        width: 200px;
    }
    
    nav ul li 
    {
        display: inline-block;
    }
    
    nav ul li a
    {
        padding: 10px 20px;
    }
    
    /* Text Rules */
    h1{font-size: 26px;}
    h2{font-size: 22px;}
    h3{font-size: 18px;}